{% extends 'PacksAnSpielBundle::base.html.twig' %}

{% block playground %}
    <div id="playground">
        <div class="jumbotron">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Hallo Gruppe!</h3></div>
                <div class="panel-body">
                    <div class="row">
                        {% for item in subject_list %}
                            <div class="col-md-6">
                                <div class="jumbotron">
                                    {{ item.name }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block infobox %}
    <div id="infobox">
        <div class="jumbotron">
            <div id="welcome" class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Eure Aktionen</h3></div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
