{% extends 'PacksAnSpielBundle::base.html.twig' %}

{% block playground %}
    <div id="playground" class="box">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3 class="panel-title">Du hast Post!</h3></div>
            <div class="panel-body">
                <div class="row">
                    <h2>Bitte beachte folgende Nachricht:</h2>
                    <p>{{ message }}</p>
                    <p>
                        <a href="{{ path('gameadmin') }}" class="btn btn-primary btn-lg" role="button">OK</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

