{% extends 'PacksAnSpielBundle:admin:baseadmin-layout.html.twig' %}


{% block page_title %}TODO{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block flash_messages %}{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">TODO</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        </div>
    </div>

{% endblock %}

