{% extends 'PacksAnSpielBundle::gameadmin_base.html.twig' %}

{% block login %}
    <div id="playground">
        <div class="jumbotron">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 class="panel-title">{{ game.name }}</h3></div>
                <div class="panel-body">
                    <div id="main">
                        <div id="outdiv">
                        </div>
                        <div id="gameadmin_result" style="background-color: #CC0000; color: #EEEEEC">
                            {{ error_message }}<br>
                            <a href="/gameadmin" class="btn btn-warning" role="button">OK</a>

                        </div>
                    </div>
                    <canvas id="qr-canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

