<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pack's An!{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/packsanspiel/css/packsan.css') }}"/>

</head>
<body>
<div class="joker-page">
    <div class="row">
        <div class="col-md-3 col-md-offset-1"></div>
        <div class="col-md-4">
            <div id="infobox">
                <div id="info" class="panel panel-success">
                    <div class="panel-heading"><h3 class="panel-title">Pack's An</h3></div>
                    <div class="panel-body">
                        <img src="/bundles/packsanspiel/images/logo_gross.png" width="100%"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

</body>
</html>
