{# extends 'PacksAnSpielBundle::gameadmin_base.html.twig' #}
{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}


{% block page_content %}
    <div>ADMIN!</div>
{% endblock %}

{% block title %}
    Pack's An Spiel
{% endblock %}

{% block page_title %}
    Übersicht
{% endblock %}
{% block page_subtitle %}
{% endblock %}

{% block flash_messages %}
Test
{% endblock %}



{#
stylesheets
located in the head. Please don't forget to use {{parent()}} when adding stylesheets in your view(s).
javascripts_head
Also located in the head. Used to integrate modernizr.js
page_subtitle
small tag inside the Headline to give extra information.
flash_messages
this is the area where the flasbag messages will appear.
page_content
This is the main content area
javascripts
load your js files in this block.
javascripts_inline
Instead of spreading inline scripts all over the page, you could use this block to group them.
flash_messages

#}